html,
body {
  padding: 0;
  margin: 0;
  background-color: #f7f1eb;
  background-color: var(--mantine-color-coffee-0);
  color: #3c2311;
  color: var(--mantine-color-coffee-9);
}

* {
  box-sizing: border-box;
}
